
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Column 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3>Description</h3>
                <p>The page layout has a centered heading and paragraph at the top, and it has smaller headings in each column with paragraphs underneath.</p>
            </div>
            <div class="col-sm-4">
                <h3>Page Resizing</h3>
                <p>After resizing the page, the columns align themselves vertically, and the navigation bar contents are compacted into a menu button.</p>
            </div>
            <div class="col-sm-4">
                <h3>CSS Grid Basics</h3>
                <p>
                <mark>
    This layout uses Bootstrap's "row" class to declare a new row. Bootstrap uses 12 columns, so by specifying that each column has a span of 4, we are
    creating 3 even columns in each row. 
                </mark>
                </p>
                <p>
                    This can be recreated with the <code>class="col-sm-4"</code>
                </p>
                
                <p>In the column class name, "sm" specifies that the <span class="text-danger">columns are sized specifically for tablets.</span></p>
            </div>
        </div>
    </div>

<blockquote>
    <p style="text-align:center">If you can't make it good, at least make it look good. </p>
    <footer style="text-align:center">- Bill Gates</footer>
</blockquote>

